---
import Base from "./Base.astro";

interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Base title={frontmatter.title} description={frontmatter.description}>
  <h1>{frontmatter.title}</h1>
  <slot />
</Base>
